
.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}
.card{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}
.btn > .btn-primary {
    /* background-color: #fbff79 !important; */
    background: linear-gradient(to right, #70dceb, #9bdf68) !important;
    color: #1b1d21 !important;
    border: #1b1d21 !important;
    text-decoration: none;

}
.fa{
    color: #1b1d21 !important;
}
.dropdown-toggle{
    color: #1b1d21 !important;
}
.badge-primary{
    background: linear-gradient(to right, #70dceb, #bdffb0) !important;
    color: #1b1d21 !important;
}
.card-link{
    color: #1b1d21 !important;
}
/* .card-footer a:hover {
    color: #ffc680 !important;
}
.card-link a:hover {
    color: #ffc680 !important;
} */
.btn-outline-primary {
    border-color: #1b1d21 !important;
    background:linear-gradient(to right, #70dceb, #bdffb0) !important;
}
