
{% extends "profiles/base.html" %}
{% load static %}


{% block content %}
<header>
	<h1>Contact us</h1>
</header>
<form method="post" >
                {% csrf_token %}
                
                <input name="email" type="email" placeholder="Email" style="margin:15px 7px 7px 7px" required />
                <input name="address" type="text" placeholder="Address" style="margin-bottom: 7px" required />
                <input name="problem" type="text" placeholder="Problem" style="margin-bottom: 7px" required />
                
           
                <input type="submit" name='type'  class="btn" style="width: 8rem;height: 3rem; background-color: #fbff79"> 
            </form>

{% endblock content %}
