{% extends "forum/base-temp.html" %}
{% load static %}
 {% block style %} 
<link rel="stylesheet" href="{% static 'profiles/main.css' %}">
<link rel="stylesheet" href="{% static 'profiles/aos.min.css' %}">
{% endblock style %} 

{% block body %}
<!-- Hero Area -->
<div class="hero-area-l-14 position-relative z-index-1 overflow-hidden" style="background: url('static/profiles/hero-bg.png');background-repeat: no-repeat; background-position: center right; margin-top: 2rem;">
    <div class="container">
      <div class="row position-relative justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 pr-0 " data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
          <div class="content">
            <h3> <strong>P</strong>latform for <strong>A</strong>ssesing and <strong>A</strong>dvancing <strong>T</strong>he <strong>H</strong>appiness Index of <strong>S</strong>chools and <strong>A</strong>ssisting <strong>L</strong>earner's <strong>A</strong>mbitions</h3>
            <!-- <p>Create custom landing pages with Shades that convert more visitors than any website—no coding
              required.</p> -->
            
            <a href="{% url 'schoolinfo' %}" class="btn focus-reset" style="margin-top:4rem;">Check your school's happiness index</a>
          </div>
        </div>
        <div class="col-xl-7 col-lg-5 col-md-8 " data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
          <div class="banner-image-l-14">
            <img src="{% static 'profiles/Teaching-pana-dy.png' %}" alt="" class="w-100 mt-xl-n10">
          </div>
        </div>
      </div>
    </div>
    <div class="bg-shape-14"></div>
  </div>
  <!-- Content-Area-1 -->
  <div class="content-area-l-14-1 position-relative" style="margin-top:7rem;">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 order-lg-1 order-1" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
          <div class="h-100 section-heading-8 content text-lg-start text-center">
            <h2>Self Assesment for students</h2>
            <p>Students can take this test to find out </p>
            <a href="{% url 'getdata' %}" class="btn focus-reset">
              Take The Test Now
              <span class="material-symbols-outlined">
                chevron_right
              </span>
              
            </a>
          </div>
        </div>
        <div class="offset-xl-2 col-xl-6 col-lg-6 col-md-8 pl-xl-11 order-lg-1 order-0" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
          <div class="content-img">
            <img src="{% static 'profiles/self-assess.svg' %}" alt="" style="width: 20;height: 20;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content-Area-2 -->
  <div class="content-area-l-14-2">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
          <div class="content-img pr-lg-13">
            <img src="{% static 'profiles/school-rank.svg' %}" alt="" class="w-100">
          </div>
        </div>
        <div class="col-xl-4 offset-xl-2 col-lg-6 col-md-8 col-sm-10" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
          <div class="content section-heading-8 text-lg-start text-center">
            <h2>
              School Rank
            </h2>
            <p>Check the rankings of different schools</p>
            <a href="{% url 'schoolinfo' %}" class="btn focus-reset">
              Check school ranking
              <span class="material-symbols-outlined">
                chevron_right
              </span>
              
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- Content-Area-1 -->
      <div class="content-area-l-14-1 position-relative" style="margin-top:7rem;">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 order-lg-1 order-1" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
              <div class="h-100 section-heading-8 content text-lg-start text-center">
                <h2>Help Centre</h2>
                <p>Contact a councellor in case of any problems you face related to your mental health</p>
                <a href="{% url 'counselling' %}" class="btn focus-reset">
                  Contact Now
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                  
                </a>
              </div>
            </div>
            <div class="offset-xl-2 col-xl-6 col-lg-6 col-md-8 pl-xl-11 order-lg-1 order-0" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
              <div class="content-img">
                <img src="{% static 'profiles/help centre.svg' %}" alt="" class="w-100 w-xl-auto">
              </div>
            </div>
          </div>
        </div>
      </div>


  <!-- Content-Area-2 -->
  <div class="content-area-l-14-2">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
          <div class="content-img pr-lg-13">
            <img src="{% static 'profiles/feed.svg' %}" alt="" class="w-100">
          </div>
        </div>
        <div class="col-xl-4 offset-xl-2 col-lg-6 col-md-8 col-sm-10" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
          <div class="content section-heading-8 text-lg-start text-center">
            <h2>
              A Feed for you to be informed by your school
            </h2>
            <p>Get latest information about your school's achievements and progress</p>
            {% if user.is_school %}
            <a href="{% url 'school-feed' user.slug %}"  class="btn focus-reset">
              Go To Feed 
              <span class="material-symbols-outlined">
                chevron_right
              </span>
              <i class="fas fa-angle-right"></i>
            </a>
            {% elif user.is_student %}
            <a href="{% url 'school-feed' user.student.school.user.slug %}" class="btn focus-reset">
            Go To Feed 
            <span class="material-symbols-outlined">
              chevron_right
            </span>
            
            </a>
            {% else %}
            <a href="{% url 'loginregister' %}" class="btn focus-reset" >
              Go To Feed 
              <span class="material-symbols-outlined">
                chevron_right
              </span>
            
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content-Area-1 -->
  <div class="content-area-l-14-1 position-relative" style="margin-top:7rem;">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 order-lg-1 order-1" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
          <div class="h-100 section-heading-8 content text-lg-start text-center">
            <h2>Forum</h2>
            <p>Create awarness among the student community by sharing your problems and helping out fellow peers by staying anonymous</p>
            <a href="{% url 'forum' %}" class="btn focus-reset">
              Check Out Forum Now
              <span class="material-symbols-outlined">
                chevron_right
              </span>
            
            </a>
          </div>
        </div>
        <div class="offset-xl-2 col-xl-6 col-lg-6 col-md-8 pl-xl-11 order-lg-1 order-0" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
          <div class="content-img">
            <img src="{% static 'profiles/Forums.svg' %}" alt="" class="w-100 w-xl-auto">
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock body %}


{% block script %}
  <!-- Vendor Scripts -->
  <!-- <script src="{% static 'profiles/vendor.min.js' %}"></script> -->
  <script src="{% static 'profiles/aos.min.js' %}"></script>
  <!-- Activation Script -->
  <script src="{% static 'profiles/custom.js' %}"></script>
{% endblock script %}