{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% block style %}
body{
background-color: white !important;
}
{% endblock style %}
{% block content %}


  <div class="container">
  <div class="jumbotron" style="background-image: linear-gradient(180deg,#fbff79, #ffc690);">
  <form method="post" action="{% url 'student-register' %}">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.phone_number|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.email|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.roll_number|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.school|as_crispy_field }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3"style="margin-left: 40%;">Sign in</button>
  </form>
  </div>
  </div>


{% endblock content %}