{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% block style %}
{% endblock style %}
{% block content %}
{% load static %}


  <div class="container mt-5">
    <h3 class="text-center">Student Register</h3>
  <div class="jumbotron" style="background: white; border-radius: 5rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <form method="post" action="{% url 'student-register' %}">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.phone_number|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.email|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.roll_number|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.school|as_crispy_field }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-5 px-5"style="margin-left: 40%; background-color: #fbff79; color: black; border: none;">Sign in</button>
  </form>
  </div>
  </div>


{% endblock content %}