<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Paathshaala - {% block title %} {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'forum/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'forum/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a4ba5bc4af.js" crossorigin="anonymous"></script>

  <!-- Template Main CSS File -->
  <link href="{% static 'forum/style.css' %}" rel="stylesheet">
  {% block style %}
    
    {% endblock style %}
</head>
<body>
  {% block body %} 
    
    {% endblock body %}

</body>

</html>