{% include "profiles/base.html" %}
{% load static %}
{% block connectcss %}
<style>
    input[type=text] {
        width: 60rem;
    }

    .btn-primary,
    .btn-secondary {
        background-color: #bff5fa;
        color: black;
        border: 0.5px solid #bff5fa !important;
        box-shadow: 3px 3px 5px #888888;
        margin: 2rem;
        width: 10rem;
        border-radius: 2vh;
        height: auto;
    }

    .btn:not(:disabled):not(.disabled) {
        background-color: #bff5fa;
    }

    .btn-group-toggle :hover {
        background-color: #fee648 !important;
        color: #000;
    }

    .active {
        background-color: #fee648 !important;
        color: #000 !important;
    }

    .btn-group>.btn-group:not(:last-child)>.btn,
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-radius: 2vh;
    }

    .btn-group>.btn-group:not(:first-child)>.btn,
    .btn-group>.btn:not(:first-child) {
        border-radius: 2vh;
    }

    .card {
        margin: 3rem;
        box-shadow: 3px 3px 5px #888888;
        border-radius: 2vh;
        padding: 10px;
    }
</style>
{% endblock connectcss %}
{% block content %}
<div class=" position-relative z-index-1 overflow-hidden">
    <div class="container" style="margin-top: 15vh;">
        <h2 style="margin-top: 2vh !important;text-align: center;">Survey of Happiness Index in School Index</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Level Of Courses (Difficulty)</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="levelc">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="levelc">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="levelc">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="levelc">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="levelc">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">A Clean Environment</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="env">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="env">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="env">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="env">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="env">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Employing teachers with competency</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="teachersc">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="teachersc">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="teachersc">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="teachersc">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="teachersc">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Preventing Discrimination and Persuassion</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="prevdic">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="prevdisc">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="prevdisc">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="prevdisc">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="prevdisc">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Providing Laboratory and workshop facilities</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="fecilities">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fecilities">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fecilities">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fecilities">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fecilities">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">The school timetable</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="timetable">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="timetable">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="timetable">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="timetable">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="timetable">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Performing group work</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="grpwork">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="grpwork">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="grpwork">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="grpwork">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="grpwork">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Mental Health assessmentof all students</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="mentalhlth">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="mentalhlth">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="mentalhlth">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="mentalhlth">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="mentalhlth">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Presenting more sporting and artistic classes</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="sportart">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="sportart">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="sportart">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="sportart">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="sportart">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Being able to solve problems of the learner</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="solveprob">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="solveprob">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="solveprob">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="solveprob">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="solveprob">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Courses should have creative and colourful instructional materials and fun activities</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="creativecourse">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="creativecourse">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="creativecourse">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="creativecourse">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="creativecourse">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Focus on Individual</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="foconindv">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="foconindv">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="foconindv">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="foconindv">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="foconindv">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Involve with fudamental and critical aspects of learner , about manner of living</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="mannlearn">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="mannlearn">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="mannlearn">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="mannlearn">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="mannlearn">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Course Relevance</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="courserele">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="courserele">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="courserele">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="courserele">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="courserele">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Issues of concern should be made a point of conversation within age appropriate
                                    classrooms and children made aware of existing realities</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="issuesofconc">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="issuesofconc">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="issuesofconc">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="issuesofconc">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="issuesofconc">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Are these problems being solved by the School?</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="aresolved">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="aresolved">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="aresolved">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="aresolved">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="aresolved">5
                        </label>
                    </div>
                </div>
            </div>

            
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Any other factors, according to you which contribute to happiness index</h5>
                    <div class="row d-flex justify-content-center">
                        <div>
                            <input type="text" name="email" placeholder="Enter your email" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="align-self-center mx-auto text-center">
                <button type="submit" class="btn btn-secondary" Value="Submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}