{% include "forum/base-temp.html" %}
{% load static %}
{% block style %}
<style>
    /* input[type=text] {
        width: 60rem;
    } */

    .btn-primary,
    .btn-secondary {
        background-color: #bff5fa;
        color: black;
        border: 0.5px solid #bff5fa !important;
        box-shadow: 3px 3px 5px #888888;
        margin:0.5rem;
        /* width: rem; */
        border-radius: 2vh;
        height: auto;
    }

    .btn:not(:disabled):not(.disabled) {
        background-color: #bff5fa;
    }

    .btn-group-toggle :hover {
        background-color: #fee648 !important;
        color: #000;
    }
    .active {
        background-color: #fee648 !important;
        color: #000 !important;
    }

    .btn-group>.btn-group:not(:last-child)>.btn,
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-radius: 2vh;
    }

    .btn-group>.btn-group:not(:first-child)>.btn,
    .btn-group>.btn:not(:first-child) {
        border-radius: 2vh;
    }

    .card {
        margin: auto;
        margin-bottom: 3rem !important;
        margin-top: 3rem !important;
        box-shadow: 3px 3px 5px #888888;
        border-radius: 2vh;
        padding: 10px;
        width: 40rem;
    }
</style>
{% endblock style %}
{% block body %}
<div class=" position-relative z-index-1 overflow-hidden">
    <div class="container" style="margin-top: 15vh;">
        <h2 style="margin-top: 2vh !important;text-align: center;">Survey of Happiness Index in School Students - Group 1</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">What is the average playtime</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="playtime" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="playtime" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="playtime" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="playtime" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="playtime" value="5">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">How difficult are your studies?</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="difficult" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="difficult" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="difficult" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="difficult" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="difficult" value="5">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">How clean is your school environment</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="environment" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="environment" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="environment" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="environment" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="environment" value="5">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Are creative and colourful materials used to teach</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="creative_org">
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials" value="5">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">How much do you participate in extra curricular activities</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="extra_curr" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="extra_curr" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="extra_curr" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="extra_curr" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="extra_curr" value="5">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">How afraid are you during exam time</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear" value="5">5
                        </label>
                    </div>

                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Do you like going to school</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_sch" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_sch" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_sch" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_sch" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_sch" value="5">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Do you like playing with friends?</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_friends" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_friends" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_friends" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_friends" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="like_friends" value="5">5
                        </label>
                    </div>

                </div>
            </div>

            
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Do teachers teach you through creative and colourful materials?</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="creative_new">
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials2" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials2" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials2" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials2" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="materials2" value="5">5
                        </label>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Do you feel scared during exams?</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="fear2">
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear2" value="1">1
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear2" value="2">2
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear2" value="3">3
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear2" value="4">4
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="fear2" value="5">5
                        </label>
                    </div>

                </div>
            </div>

            <div class="card text-center">
                <div class="card-body" style="padding: 0.5rem !important;">
                    <h5 class="card-title">Any other factors, according to you which contribute to your happiness</h5>
                </div>
                <div style="margin-bottom:1rem;">
                    <input type="text" name="others" placeholder="Enter your suggestions" class="form-control">
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body" style="padding: 0.5rem !important;">
                    <h5 class="card-title">Do you have any solution for the above mentioned problem(/s)?(Write your solution below)</h5>
                </div>
                <div style="margin-bottom:1rem;">
                    <input type="text" name="solution" placeholder="Enter your suggestions" class="form-control">
                </div>
            </div>
            


            <!-- Submit button -->
            <div class="align-self-center mx-auto text-center">
                <button type="submit" class="btn btn-secondary" Value="Submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
