<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Self Assessment</title>
</head>

<body>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="card container mt-4">
            <div class="card-body">
                <h5 class="card-title">Self Assessment</h5>
                <div class="card-text">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form>
                            <tr>
                                <th scope="row">1</th>
                                <!-- STD -->
                                <td>Your Standard</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio6">6</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio7">7</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio8">8</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio9"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio9">9</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio10"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio10">10</label>
                                </div>
                            </td>
                            </tr>
                            </form>
                            <!-- GENDER -->
                            <form>
                            <tr>
                                <th scope="row">2</th>
                                <td>Your Gender</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio22"
                                        value="option1">
                                    <label class="form-check-label" for="inlineRadio22">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio23"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio23">Female</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio25"
                                        value="option2">
                                    
                                    <label class="form-check-label mr-1" for="inlineRadio25">Other</label>
                                    <input type="text" class="form-control" placeholder="Gender">
                                </div>
                            </td>
                            </tr>
                            </form>
                            <!-- GENDER -->
                            <!-- Hobbies  -->
                            <form>
                            <tr>
                                <th scope="row">3</th>
                                <td>Your Hobbies</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                    <input type="text" placeholder="Enter Hobbies" id="hobbies" class="form-control">
                                </div>
                            </td>
                            </tr>
                            </form>
                            <form>
                            <!-- Hobbies  -->
                            <tr>
                                <th scope="row">4</th>
                                <td>Your Extracurricular activities</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input type="text" placeholder="Enter activities" id="act" class="form-control">
                                    </div>
                                </td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">5</th>
                                <td>Your Parents Education </td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input type="text" placeholder="Enter Education" id="act" class="form-control">
                                    </div>
                                </td>
                            </tr>
                            </form>
                        <form>
                            <tr>
                                <th scope="row">6</th>
                                <td>Your Family Income</td>
                                <td> 
                                    <div class="form-check form-check-inline">
                                    <input type="text" placeholder="Enter Family Income" id="act" class="form-control">
                                </div>
                            </td>
                            </tr>
                        </form>
                        <form>
                            <tr>
                                <th scope="row">7</th>
                                <td>Extra tuitions apart from school </td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div></td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">8</th>
                                <td>Your Average daily play hours </td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div>
                            </td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">9</th>
                                <td>Your Hours of sleep</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs1"
                                            value="option1">
                                        <label class="form-check-label" for="forhrs1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs2"
                                            value="option2">
                                        <label class="form-check-label" for="forhrs2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs3"
                                            value="option2">
                                        <label class="form-check-label" for="forhrs3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs4"
                                            value="option2">
                                        <label class="form-check-label" for="forhrs4">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs5"
                                            value="option2">
                                        <label class="form-check-label" for="forhrs5">5</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs6"
                                            value="option2">
                                        <label class="form-check-label" for="forhrs6">6</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs7"
                                            value="option2">
                                        <label class="form-check-label" for="forhrs7">7</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs8"
                                            value="option2">
                                        <label class="form-check-label" for="forhrs8">8</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs9"
                                            value="option2">
                                        <label class="form-check-label" for="forhrs9">9</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="forhrs10"
                                            value="option2">
                                        <label class="form-check-label" for="forhrs10">10</label>
                                    </div>
                            </td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">10</th>
                                <td>Competitive exams - participation </td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="parti1"
                                        value="option1">
                                    <label class="form-check-label" for="parti1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="parti2"
                                        value="option2">
                                    <label class="form-check-label" for="parti1">NO</label>
                                </div></td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">11</th>
                                <td>When do you start preparing for your exams?</td>
                                <td><div class="form-check form-check-inline">
                                    <input type="text" placeholder="Answer" id="exam" class="form-control">
                                </div></td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">12</th>
                                <td>How likely are you to take part in sports?</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sportst1"
                                        value="option1">
                                    <label class="form-check-label" for="sports1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sports2"
                                        value="option2">
                                    <label class="form-check-label" for="sports2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sports3"
                                        value="option2">
                                    <label class="form-check-label" for="sports3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sports4"
                                        value="option2">
                                    <label class="form-check-label" for="sports4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sports5"
                                        value="option2">
                                    <label class="form-check-label" for="sports5">5</label>
                                </div></td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">13</th>
                                <td>Anxiety and pressure felt during exams</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="anx1"
                                        value="option1">
                                    <label class="form-check-label" for="anx1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="anx2"
                                        value="option2">
                                    <label class="form-check-label" for="anx2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="anx3"
                                        value="option2">
                                    <label class="form-check-label" for="anx3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="anx4"
                                        value="option2">
                                    <label class="form-check-label" for="anx4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="anx5"
                                        value="option2">
                                    <label class="form-check-label" for="anx5">5</label>
                                </div></td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">14</th>
                                <td>How secure do you feel at home</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div></td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">15</th>
                                <td>How self confident are you?</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div></td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">16</th>
                                <td>How socially active are you? </td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                                        value="option2">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div></td>
                            </tr>
                            </form>
                            <form>
                            <tr>
                                <th scope="row">17</th>
                                <td>Additional thoughts </td>
                                <td><div class="form-check form-check-inline">
                                    <input type="text" id="thoughts" class="form-control">
                                </div></td>
                            </tr>
                            </form>
                        </tbody>
                    </table>
                
                    <div class="container" style="padding-top: 30px;">
                        <!-- Message input -->
                        
                        <!-- Submit button -->
                        <div class="align-self-center mx-auto text-center">
                            <button type="submit" class="btn btn-primary" Value="Submit"
                                style="background-color: #fbff79; color: black; width: 25%;">
                                Submit
                            </button>
                        </div>
                    </div>
                    
                    </form>
                </div>
            </div>
        </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>