{% extends "profiles/base.html" %}
{% load static %}
{% block content %}
    <form method="POST"action="">
        {% csrf_token %}
        <div class="card container mt-4" style="background-color: #eeee;box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);border-radius: 10px !important;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">Self Assessment</h5>
                <div class="card-text">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <th scope="row">1</th>
                                <!-- STD -->
                                <td>Your Standard</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio1"
                                        value="1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio2"
                                        value="2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio3"
                                        value="3">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio4"
                                        value="4">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio5"
                                        value="5">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio6"
                                        value="6">
                                    <label class="form-check-label" for="inlineRadio6">6</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio7"
                                        value="7">
                                    <label class="form-check-label" for="inlineRadio7">7</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio8"
                                        value="8">
                                    <label class="form-check-label" for="inlineRadio8">8</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio9"
                                        value="9">
                                    <label class="form-check-label" for="inlineRadio9">9</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="std" id="inlineRadio10"
                                        value="10">
                                    <label class="form-check-label" for="inlineRadio10">10</label>
                                </div>
                            </td>
                            </tr>
                            
                            <tr>
                                <th scope="row">2</th>
                                <td>Your Gender</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input  type="text" name="gen" placeholder="Enter your gender">
                                    </div>
                            </td>
                            </tr>
                           
                            <tr>
                                <th scope="row">3</th>
                                <td>Your Hobbies</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                    <input type="text" name="hob" placeholder="Enter Hobbies" id="hobbies" class="form-control">
                                </div>
                            </td>
                            </tr>
                            
                            <!-- Hobbies  -->
                            <tr>
                                <th scope="row">4</th>
                                <td>Your Extracurricular activities</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input type="text" name="act" placeholder="Enter activities"  class="form-control">
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <th scope="row">5</th>
                                <td>Your Parents Education </td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input type="text" name="edu" placeholder="Enter Education"  class="form-control">
                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <th scope="row">6</th>
                                <td>Your Family Income</td>
                                <td> 
                                    <div class="form-check form-check-inline">
                                    <input type="text" name="inc" placeholder="Enter Family Income"  class="form-control">
                                </div>
                            </td>
                            </tr>
                     
                            <tr>
                                <th scope="row">7</th>
                                <td>Extra tuitions apart from school </td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="extra" id="inlineRadio1"
                                        value="Yes">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="extra" id="inlineRadio2"
                                        value="No">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div></td>
                            </tr>
                           
                            <tr>
                                <th scope="row">8</th>
                                <td>Your Average daily play hours </td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="play" id="inlineRadio1"
                                        value="1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="play" id="inlineRadio2"
                                        value="2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="play" id="inlineRadio3"
                                        value="3">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="play" id="inlineRadio4"
                                        value="4">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="play" id="inlineRadio5"
                                        value="5">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div>
                            </td>
                            </tr>
                            
                            <tr>
                                <th scope="row">9</th>
                                <td>Your Hours of sleep</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs1"
                                            value="1">
                                        <label class="form-check-label" for="forhrs1">1</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs2"
                                            value="2">
                                        <label class="form-check-label" for="forhrs2">2</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs3"
                                            value="3">
                                        <label class="form-check-label" for="forhrs3">3</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs4"
                                            value="4">
                                        <label class="form-check-label" for="forhrs4">4</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs5"
                                            value="5">
                                        <label class="form-check-label" for="forhrs5">5</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs6"
                                            value="6">
                                        <label class="form-check-label" for="forhrs6">6</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs7"
                                            value="7">
                                        <label class="form-check-label" for="forhrs7">7</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs8"
                                            value="8">
                                        <label class="form-check-label" for="forhrs8">8</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs9"
                                            value="9">
                                        <label class="form-check-label" for="forhrs9">9</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sleep" id="forhrs10"
                                            value="10">
                                        <label class="form-check-label" for="forhrs10">10</label>
                                    </div>
                            </td>
                            </tr>
                            
                            <tr>
                                <th scope="row">10</th>
                                <td>Competitive exams - participation </td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="comp" id="parti1"
                                        value="Yes">
                                    <label class="form-check-label" for="parti1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="comp" id="parti2"
                                        value="No">
                                    <label class="form-check-label" for="parti1">NO</label>
                                </div></td>
                            </tr>
                            
                            <tr>
                                <th scope="row">11</th>
                                <td>When do you start preparing for your exams?</td>
                                <td><div class="form-check form-check-inline">
                                    <input type="text" name="prep" placeholder="Answer" id="exam" class="form-control">
                                </div></td>
                            </tr>
                            
                            <tr>
                                <th scope="row">12</th>
                                <td>How likely are you to take part in sports?</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sport" id="sportst1"
                                        value="1">
                                    <label class="form-check-label" for="sports1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sport" id="sports2"
                                        value="2">
                                    <label class="form-check-label" for="sports2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sport" id="sports3"
                                        value="3">
                                    <label class="form-check-label" for="sports3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sport" id="sports4"
                                        value="4">
                                    <label class="form-check-label" for="sports4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sport" id="sports5"
                                        value="5">
                                    <label class="form-check-label" for="sports5">5</label>
                                </div></td>
                            </tr>
                            
                            <tr>
                                <th scope="row">13</th>
                                <td>Level of anxiety and pressure felt during exams</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="anx" id="anx1"
                                        value="1">
                                    <label class="form-check-label" for="anx1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="anx" id="anx2"
                                        value="2">
                                    <label class="form-check-label" for="anx2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="anx" id="anx3"
                                        value="3">
                                    <label class="form-check-label" for="anx3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="anx" id="anx4"
                                        value="4">
                                    <label class="form-check-label" for="anx4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="anx" id="anx5"
                                        value="5">
                                    <label class="form-check-label" for="anx5">5</label>
                                </div></td>
                            </tr>
                            
                            <tr>
                                <th scope="row">14</th>
                                <td>How secure do you feel at home</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="secure" id="inlineRadio1"
                                        value="1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="secure" id="inlineRadio2"
                                        value="2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="secure" id="inlineRadio3"
                                        value="3">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="secure" id="inlineRadio4"
                                        value="4">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="secure" id="inlineRadio5"
                                        value="5">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div></td>
                            </tr>
                            
                            <tr>
                                <th scope="row">15</th>
                                <td>How self confident are you?</td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="conf" id="inlineRadio1"
                                        value="1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="conf" id="inlineRadio2"
                                        value="2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="conf" id="inlineRadio3"
                                        value="3">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="conf" id="inlineRadio4"
                                        value="4">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="conf" id="inlineRadio5"
                                        value="5">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div></td>
                            </tr>
                            
                            <tr>
                                <th scope="row">16</th>
                                <td>How socially active are you? </td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="soc" id="inlineRadio1"
                                        value="1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="soc" id="inlineRadio2"
                                        value="2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="soc" id="inlineRadio3"
                                        value="3">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="soc" id="inlineRadio4"
                                        value="4">
                                    <label class="form-check-label" for="inlineRadio4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="soc" id="inlineRadio5"
                                        value="5">
                                    <label class="form-check-label" for="inlineRadio5">5</label>
                                </div></td>
                            </tr>
                            
                            <tr>
                                <th scope="row">17</th>
                                <td>Additional thoughts </td>
                                <td><div class="form form-inline">
                                    <input  type="text" name="add"
                                       ></td>
                            </tr>
                            
                        </tbody>
                    </table>
                
                    <div class="container" style="padding-top: 30px;">
                        <!-- Message input -->
                        
                        <!-- Submit button -->
                        <div class="align-self-center mx-auto text-center">
                            <button type="submit" class="btn btn-primary" Value="Submit"
                                style="background-color: #fbff79; color: black; width: 25%;border: #fbff79;">
                                Submit
                            </button>
                        </div>
                    </div>
                    
                    </form>
                </div>
            </div>
        </div>
    
{% endblock content %}

