<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>School Profile</title>
    <style>
        .sec3{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
    </style>
</head>
<section class="m-4">
    <div class="row">
        <div class="col">
            <div class="card sec3">
                <div class="card-body" style="color: black;">
                    <div class="card-text">
                        <h6>
                            Name:
                        </h6>
                        <h6>
                            City:
                        </h6>
                        <h6>
                            State:
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card sec3">
                <div class="card-body" style="color: black;">
                    <div class="card-text text-center">
                        <h2>
                            Rank
                        </h2>

                    </div>
                </div>
            </div>
            <div class="card sec3">
                <div class="card-body" style="color: black;">
                    <h4 class="text-center">
                        Happiness Index
                    </h4>
                </div>
            </div>
            <div class="card sec3" >
                <div class="card-body" >
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-5">Send Feedbacks</button>
                      </div>
                </div>
            </div>

            <div class="card sec3" >

                <div class="card-body" style="color: black;">
                    <div class="text-center">
                        <a type="submit" href="{% url 'send' %}" class="btn btn-primary" style="background-color:#ff4000; border:none;">Calculate Happiness Index</a>
                      </div>
                </div>
            </div>
            <div class="card sec3" >
                <div class="card-header"> <h5>Upload Student Database Here</h5></div>
                <div class="card-body" >
                    <div class="text-center">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'csv' %}">
                            {% csrf_token %}
  <div class="form-group">

    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="csv" style="margin-left:3rem;">
      <button type="submit" class="btn btn-primary mt-3">Upload Csv</button>
  </div>
</form>

                      </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card sec3">
                <div class="card-body" style="color: black;">
                    <div class="card-text text-center">
                        <h3>
                            No of Feedbacks
                        </h3>
                    </div>
                </div>
            </div>
            <div class="card sec3" style="">
                <div class="card-header text-center"> <h3>Analysis of Feedback</h3></div>
                <div class="card-body" style="color: black;">

                    <div class="card-text text-center">
                        <div class="container"> {% for g in graph %}
<!--                            {{ g|safe }}-->

                             <div class="col">{{ g|safe }}</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card sec3">
                <div class="card-title text-center p-1"> <h4>Suggestions</h4></div>
                <div class="card-body" style="color: black;">
                    <div class="card-text">
                        <h6>
                            <i class="fa fa-arrow-right"></i> blah
                        </h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>