{% extends 'profiles/base.html' %}
{% block connectcss%}
<style>
    .sec3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    }
    /* body{
        background-image: linear-gradient(180deg, #fbff79, #ffc680) !important;
    } */
</style>
{% endblock connectcss%}

{% block content%}
<section class="m-4">
    <div class="row">
        <div class="col">
            <div class="card sec3">
                <div class="card-body" style="color: black;">
                    <div class="card-text">
                        <h6>
                            Name: {{ name }}
                        </h6>
                        <h6>
                            City: {{ city }}
                        </h6>
                        <h6>
                            State: {{ state }}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card sec3">
                <div class="card-body" style="color: black;">
                    <div class="card-text text-center">
                        <h2>
                            Rank: {{ rank }}
                        </h2>

                    </div>
                </div>
            </div>
            <div class="card sec3">
                <div class="card-body" style="color: black;">
                    <h4 class="text-center">
                        Happiness index: {{ happinessindex|floatformat:2 }}
                    </h4>
                </div>
            </div>
            <div class="card sec3" >
                <div class="card
                -body" >
                    <div class="text-center">
                        <a type="submit" href="{% url 'send' %}" class="btn btn-primary px-5" style="color:black; background-color:#bdffb0; border:none;">Send Feedbacks</a>
                      </div>
                </div>
            </div>

            <div class="card sec3" >

                <div class="card-body" style="color: black;">
                    <div class="text-center">
                        <a type="submit" href="{% url 'send' %}" class="btn btn-primary" style="color:black; background-color:#bdffb0; border:none;">Calculate Happiness Index</a>
                      </div>
                </div>
            </div>
            <div class="card sec3" >
                <div class="card-header"> <h5>Upload Student Database Here</h5></div>
                <div class="card-body" >
                    <div class="text-center">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'csv' %}">
                            {% csrf_token %}
  <div class="form-group">

    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="csv" style="margin-left:3rem;">
      <button type="submit" class="btn btn-primary mt-3" style="color:black; background-color:#bdffb0; border:none;">Upload Csv</button>
  </div>
</form>

                      </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card sec3">
                <div class="card-body" style="color: black;">
                    <div class="card-text text-center">
                        <h3>
                            No of Feedbacks
                        </h3>
                    </div>
                </div>
            </div>
            <div class="card sec3" style="">
                <div class="card-header text-center"> <h3>Analysis of Feedback</h3></div>
                <div class="card-body" style="color: black;">

                    <div class="card-text text-center">
                        <div class="container"> {% for g in graph %}
<!--                            {{ g|safe }}-->

                             <div class="col">{{ g|safe }}</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col">
            <div class="card sec3">
                <div class="card-title text-center p-1"> <h4>Suggestions</h4></div>
                <div class="card-body" style="color: black;">
                     {% for i in improve %}
                    <div class="card-text">
                        <h6>
                            <i class="fa fa-arrow-right"></i> {{ i }}
                        </h6>

                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="card sec3">
                <div class="card-body" style="color: black;">
                    <div class="card-text  ">
                        <h4 class="card-title text-center">
                            Topic Modellings for Feedbacks
                        </h4>
                        <h6>
                            <i class="fa fa-arrow-right"></i> {{ topic }}
                        </h6>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content%}
