@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

    *,
    *::before,
    *::after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    body {
      font-family: "Quicksand", sans-serif;
      display: grid;
      place-items: center;
      height: 100vh;
      background:linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    }


    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-block: 2rem;
      gap: 2rem;
    }

    .card {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
      background: #ECE9E6;
      background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    }

    .card__body {
      padding: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }



    .card__body h4 {
      font-size: 1.5rem;
      text-transform: capitalize;
    }

    .card__footer {
      display: flex;
      padding: 1rem;
      margin-left: 1rem;

    }

    .split {
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      /* overflow-x: hidden; */
    }

    .left {
      left: 0;
      width: 75%;
    }

    .right {
      right: 0;
      width: 25%;
      height: 100%;
    }

    .button1 {
      background-color: black;
      width: 30%;
      height: 40px;
      left: 40%;
      text-align: center;
      border-radius: 40px;
      border: none;
      color: white;
      padding-right: 2%;
      padding-left: 2%;
      margin-top: 2%;
      position: absolute;
    }

    .postques {
      font-size: 20px;
    }

    input[type=text] {
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid #5352529c;
      background-color: var(--base);
    }

    input[type=text]:focus {
      border: none;
      outline: none;
    }