{% extends 'profiles/base.html' %}
{% load static %}
{% block connectcss %}
<link rel="stylesheet" href="{% static 'ranking/rank.css' %}">
{% endblock connectcss %}
{% block content%}
<main id="main">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Classroom factors affecting Happiness Index
                        <!-- <span>/Today</span></h5> -->

                        <!-- Line Chart -->


                        <!-- End Line Chart -->

                </div>

            </div>
        </div>
    </section>
</main>
{% endblock content %}